<div class="container-sm">
    <div class="row">
        <div class="col-6">
            <h2>UNEATEN</h2>
            <ul>
                {{#each burgers}}
                {{#unless devoured}}
                <div class="waiting-burger">
                    <div>
                        {{burger_name}}
                        <button type="button" id="devour-btn" data-index="{{id}}"> Devour!</button>
                    </div>
                </div>                
                {{/unless}}
                {{/each}}
            </ul>
        </div>
        <div class="col-6">
            <h2>EATEN</h2>
            <ul>
                {{#each burgers}}
                {{#if devoured}}
                <div class="eaten-burger">
                    <div>
                        {{burger_name}}
                    </div>
                </div> 
                {{/if}}
                {{/each}}
            </ul>
        </div>
    </div>

</div>