body {
    background-color: #f6f2e8;
    color: #fff;

}

#pic_burger {
    width:20rem;
    display: block;
    margin: auto;
}

h1, label {
    font-family: 'Bahnschriff';    
}

h5 {
    color: #333;
}

label {
    font-size: 2rem;
    color: #333;
}


footer, .jumbotron {
    background: url(https://az727346.vo.msecnd.net/content/images/texture-slate.png) 0 0 repeat #262524 !important;
    color: #fff;
}

.btn {
    background: #931a1a; 
}

.burger-row {
    background: #333;
   
}
